@font-face {
  font-family: "Pokemon-Font";
  src: url(Pokemon-Pixel-Font.woff2);
}

body {
  font-family: "Pokemon-Font";
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
  margin: 0;
}

.background-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-image: url("pokedex.png");
  background-size: 80% auto;
  background-position: center 38%;
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  top: 27%;
  left: 26%;
  padding: 10px;
  background-color: #e9ecef;
  /* background-color: transparent; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  width: 40%;
  max-height: 40%;
  overflow-y: scroll;
}

h1 {
  font-size: 2.5rem;
  font-family: "Pokemon-Font";
  margin-bottom: 0 0 10px;
  text-align: center;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemon-logo {
  display: block;
  width: 600px;
  height: 200px;
  margin: 20px auto 0px;
}

.pokemon-card {
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.pokemon-history-card {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  overflow-y: scroll;
  height: 100px;
}

button {
  display: block;
  margin: 12px;
  padding: 10px 10px;
  font-family: "Pokemon-Font";
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #0056b3;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

input[type="search"] {
  font-family: "Pokemon-Font";
  width: 80%;
  max-width: 300px;
  padding: 6px 10px;
  font-size: 1rem;
  margin-top: 10px;
}

label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes runAndReappear {
  0% {
    transform: translateX(0); /* Start at the initial position */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: translateX(100%); /* Moves to the right */
    opacity: 0; /* Fades out */
  }
  51% {
    transform: translateX(-100%); /* Instantly jumps to the left */
    opacity: 0; /* Still hidden */
  }
  100% {
    transform: translateX(0); /* Runs back to the start */
    opacity: 1; /* Fades in */
  }
}

/* Style the image */

#pikachu {
  height: 100px;
  width: 120px;

  position: relative;
  animation: runAndReappear 4s ease-in-out infinite;
}
